.root {
  width: 172px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/btn_login_base.png');
}

.root:hover {
  background-image: url('/btn_login_hover.png');
}

.root:active {
  background-image: url('/btn_login_press.png');
}
